* {
    width: 1280px;
    margin: 0 auto;
}
.header-navbar {
    max-width: 620px;
    height: 15px;
    margin: 31.5px auto;
    box-sizing: border-box;
}

.header-navbar-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header-navbar-link {
    display: inline;
    padding: 0px 32px 0px 0px;
    text-decoration: none;
    text-transform: uppercase;
    color: #FF0000;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 18px;
    font-style: normal;
    line-height: 18px;
    letter-spacing: 2.7px;
    box-sizing: border-box;
}

img {
    width: 1280px;
    height: 789px;
}

.content {
    font-family: "Montserrat", sans-serif;
    color: #373737;
    font-style: normal;
}

.content-title {
    text-decoration: none;
    margin: 48px 253px 38px 253px;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    align-items: flex-end;
    letter-spacing: 3.3px;
    text-transform: uppercase;
}

.content-text {
    text-align: center;
    margin: 0 66.5px;
    width: 1145px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;
}

.btn {
    width: 191px;
    height: 51px;
    margin: 66px 544px 82px 544px;
    border: none;
    background-color: #FF0000;
    border-radius: 4px;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1.8px;
    color: #FFFFFF;
    text-transform: uppercase;
    align-items: center;
}

.footer {
    text-align: right;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    align-items: center;
    letter-spacing: 2.4px;
    color: #373737;
    background-color: orange;
}